html
	head
		title Material Design Boiler Plate
		link(rel="stylesheet", type="text/css", href="assets/materialize-css/dist/css/materialize.min.css")
		link(rel="stylesheet", type="text/css", href="assets/transformative/transformative.css")
		link(rel="stylesheet", type="text/css", href="assets/stylesheet/index.css")
		script(type="text/javascript", src="assets/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="assets/hammerjs/hammer.min.js")
		script(type="text/javascript", src="assets/materialize-css/dist/js/materialize.min.js")
		script(type="text/javascript", src="assets/template/script.js")
	body

		// Delete From Here
		div.container
			div.card.card-panel.text-center.text-bold Material Design Template
			div.card.card-panel.text-center 
				| This is a custom webpage that uses 
				a(href="http://materializecss.com") Materialize
				|. Moreover we have included a custom index HTML file.
			div.card.card-panel.text-center
				| Made By 
				a(href="https://github.com/SamWillson") Sampan Verma
		// Delete Till Here
