.text-light{
	font-weight: lighter;
}
.text-normal{
	font-weight: normal;
}
.text-bold{
	font-weight: bold;
}
.text-bolder{
	font-weight: bolder;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}